.header{
    color:#418d9e;
    padding-top:100px;
}
.big{
    max-height: 350px;
}
img{
    max-height: fit-content;
}
.inline-paragraph{
display: inline-block;
}
.position{
position: relative;
top:7px;
}
.scents{
    color:#418d9e
}