<div class="form-margin">
<h3 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-slate-700 md:text-4xl lg:text-4xl dark:text-white text-center" >Add stock </h3>
<div class="form-container mat-elevation-z5">
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>
        Product
    </mat-label>
    <input matInput formControlName="selectedProductId" type="text" 
    [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let product of filteredOptions" [value]="product.name" (click) ="recordSelectedId(product.id)">
            <span class="text-blue-950 font-bold">{{product.name}} <span [ngClass]="{'text-red-700 italic underline':product.variations==0,'text-green-700 italic':product.variations>=0}">{{+ product.variations}}</span></span>
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Supplier</mat-label>
    <mat-select formControlName="supplierName">
      <mat-option *ngFor="let supplier of suppliersList" value="{{supplier.name}}">{{supplier.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Supplier Price </mat-label>
    <input formControlName="purchasePrice" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Essence Type</mat-label>
    <mat-select formControlName="typeName">
      <mat-option *ngFor="let type of productTypes" value="{{type.name}}">{{type.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  
   <mat-form-field>
    <mat-label>Quantity </mat-label>
    <input formControlName="qtyInStock" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Bottle size </mat-label>
    <input formControlName="size" [(ngModel)]="sizeValue" (blur)=addMeasurementToValue() matInput >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Price </mat-label>
    <input formControlName="price" matInput >
  </mat-form-field>

  <button class="bg-white hover:bg-gray-100 text-slate-700 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
      Add stock
    </button>
    <svg *ngIf="success" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
      </svg>
</form>
</div>
</div>