<h3 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-slate-700 md:text-4xl lg:text-4	xl dark:text-white text-center" >Manage products</h3>
<button class="scents-color text-white font-bold py-2 px-4 rounded-full" (click)="redirectToAddProduct()">	
	Add product
  </button>
  <br>	
  <br>
<table mat-table  #outerSort="matSort" [dataSource]="dataSource" multiTemplateDataRows matSortDisableClear class="mat-elevation-z8" matSort>
	<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
		<th mat-header-cell class="scents-color" *matHeaderCellDef mat-sort-header> {{column}} </th>
		<td mat-cell  *matCellDef="let element"> {{element[column]}} </td>
	</ng-container>

	
	<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
			<div class="example-element-detail" *ngIf="element.detailsResponse?.length" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
				<div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
          
          <table #innerTables mat-table #innerSort="matSort" [dataSource]="element.detailsResponse" matSort>
            <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayedColumns">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn}} </th>
              <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
          </table>
				</div>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
	<tr mat-row *matRowDef="let element; columns: columnsToDisplay;" [class.example-element-row]="element.detailsResponse?.length"
	 [class.example-expanded-row]="expandedElement === element" (click)="toggleRow(element)">
	</tr>
	<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
