
<!-- <mat-card class="account-info-card">
    <mat-card-subtitle>Basic info</mat-card-subtitle>
    <mat-card-title>
        Account information
    </mat-card-title>
    <mat-card-content>
        <p>Name :</p>
        <p>Phone number :</p>
        <p>Name :</p>
        <p>Name :</p>
        <p>Name :</p>

    </mat-card-content>
</mat-card> -->
<div class="details">
    <div class="form-container mat-elevation-z5">
        <h1>Account info</h1>
        <p>{{'Name:'}}</p>
        <p>{{'Email:'}}</p>
        <p>{{'Phone number:'}}</p>

    </div>
    <div class="form-container mat-elevation-z5">
        <h1>Shipping Address</h1>
        <p>{{'City:'}}</p>
        <p>{{'Region:'}}</p>
        <p>{{'Address Line:'}}</p>
        <p>{{'Postal code:'}}</p>
    </div>
</div>