.mat-toolbar{
justify-content: space-between;
}
.content{
    padding: 32px;
}
.secondary-color{
    color:#E6E0E1
}
.cart{
    position:relative;
    right:10px;
    top:5px;
}
.admin-button{
    cursor: pointer;
}
.main{
    min-height: 100vh;
}