@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/aspect-ratio;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container{
    display:block;
    max-width: 350px;
    margin:auto;
    background: #eceff1;
    padding: 48px;
    border-radius: 16px;
}
.form-container mat-form-field{
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
}
.margin-top{
    margin-top: 16px;
}
.text-center{
    
}
h1{
    color:#418d9e;
}
.scents-bg-color{
    background-color: #20366b;
}
.scents-text-color{
    color:#20366b
}
.full-screen{
    padding-top: 100px;
}
.table-padding{
    padding:32px;
}
.full-screen-table{
  padding-top: 100px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}
.form-margin{
    margin-top:100px
}